<!-- Section: NAVBAR -->
<header class="walk-navbar navbar">
  <section class="navbar-section">
    <div class="walk-brand">
      <a href="index.html" class="walk-logo">
        <img src="img/#" alt="" class="logo-svg">
        <h2>Engaging in Controversies</h2>
      </a>
    </div>
  </section>
  <section class="navbar-section">
    <a href="index" class="btn btn-link">Home</a>
    <a href="cfp" class="btn btn-link">CFP</a>
    <a href="logistics" class="btn btn-link">Logistics</a>
    <a href="program" class="btn btn-link">Program</a>
    <a href="organizing-committee" class="btn btn-link">Organizing Committee</a>
  </section>
</header>
